/* 
  This is a SAMPLE File to get you started. Follow the instructions on the project to complete the tasks. 
  You'll probably need to override some of theese styles.
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: #FAFAFA;;
    color: #333;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color:#6EC5E9; 
    color: #FFD700;
    padding: 10px;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.title{
    width: 50%;
    font-size: 30px;
    align-items: center;
    font-weight: bold;
}

nav{
    text-align: right;
    padding-right: 40px;
    padding-top: 20px;
    width: 50%;
}

nav a {
    color: #ffff;
    text-decoration: none;
    margin-left: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    height: 84%;
    background-color: #FAFAFA;
}

.top-row{
    /* flex: 0 0 100%; */
    height: 15%;
    text-align: center;
    padding-top: 20px;
}

.bottom-row {
    display: flex;
    flex: 1;
    height: 85%;
    flex-direction: column;
    overflow-x: scroll;
}

.child-row {
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

.child-row-col {
    height: 100%;
    width: 20%;
    align-items: center;
    text-align: center;
    display: flex;
    flex: 1;
    padding: 10px;
}

.place-card {
    border-radius: 5%;
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;    
}

.link-wrapper{
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.image-wrapper {
    border: 1px solid #E6E6FA;
    height: 72%;
    transition: transform 0.2s ease;
    color: black;
}

.image-wrapper :hover {
    transform: scale(1.02);
}

.card-content {
    height: 28%;
    color: black;
}

.card-content h3 {
    color: #FF2D55;
}

.card-content-text{
    line-height: 150%;
}

main {
    padding-top: 0px;
    padding-left: 2rem;
    padding-right: 2rem;
    /* padding: 2rem; */
    height: 84%;
}

.top-section h2 {
    color: #FF2D55;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    height: 6%;
    background-color: #6EC5E9;
    text-align: center;
    font-weight: bold;
    align-items: center;
    padding: 20px;
}

/* Place Details */

.place-details-main {
    display: flex;
    flex-direction: row;
}

.left-column {
    width: 12.5%;
}

.middle-column {
    width: 75%;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.middle-column h2 {
    color: #FF2D55;
    margin-left: 60px;
}

#place-details{
    display: flex;
    flex-direction: column;
}

.image-row {
    padding: 60px;
    display: flex;
    flex-direction: row;
}

.first-image-col {
    width: 40%;
    height: 420px;
}

.second-image-col {
    width: 60%;
    height: 420px;
    display: flex;
    flex-direction: column;
}

.second-image-row{
    height: 50%;
    display: flex;
    flex-direction: row;
}

.image-row-child{
    width: 50%;
}

.about-place{
    text-align: left;
    padding-left: 55px;
    display: flex;
    flex-direction: row;
    height: 100px;
}

.about-place-divs{
    width: 50%;
}
    

#reviews{
    text-align: left;
    padding: 45px;
}

.reviews-card{
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 150px;
    align-items: center;
    padding: 35px;
}

div button :hover{
    background-color: lightblue;
}

/* login page styling */

.login-main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.login-col {
    width: 37%;
    text-align: center;
    align-items: center;
}

.image-col{
    width: 67%;
}

.text-overlay {
    position: absolute;
    top: 18%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); Optional: Add background color with transparency */
    padding: 10px;
    border-radius: 5px;
    font-size: 35px;
    text-align: center;
}
